.DS_Store
.ropeproject/
.vscode/
__pycache__/
node_modules/

# Ignore Discarded/Archived Files
Dump/

# Ignore Personal Info Files
data/
config.json

# Ignore Temporary Output Files
temp/

# Ignore Experimental Code
Experimental/
