.DS_Store
.ropeproject/
.vscode/
__pycache__/

# Ignore Discarded/Archived Files
Dump/

# Ignore Personal Info Files
data/

# Ignore Temporary Output Files
temp/

# Ignore Experimental Code
Experimental/
