$base-color: #0b4a7e;

.tree {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	margin-left: 40px;

	@media (max-width: 600px) {
		margin-left: 10px;
	}

	&_li {
		position: relative;
		margin: 0;
		padding: 10px 5px 0 5px;
		list-style-type: none;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: -20px;
			right: auto;
		}

		&:before {
			border-left: 1px solid #999;
			height: 100%;
			top: -5px;
			width: 1px;
		}

		&:after {
			border-top: 1px solid #999;
			height: 20px;
			top: 25px;
			width: 25px;
		}

		&:last-child:before {
			height: 30px;
		}

		&--disabled {
			color: #cbcbcb;
		}
	}

	&_parent {
		position: relative;

		.tree_item:hover + ul li .tree_item:not(.tree_item--active) {
			background-color: #cbcbcb;

			&.tree_item--addBtn {
				&:before,
				button {
					background-color: #ffa600;
				}
			}
		}
	}

	& > ul > li:before,
	& > ul > li:after {
		border: 0;
	}

	&_icon {
		margin-right: 3px;
		color: $base-color;
	}

	&_item {
		display: inline-block;
		padding: 3px 8px;
		border: 1px solid #999;
		border-radius: 5px;
		text-decoration: none;
		cursor: default;

		&:hover {
			background-color: #cbcbcb;
		}

		&--active {
			background-color: $base-color;
			color: #fff;

			&:hover {
				background-color: darken($base-color, 2%);
			}
		}

		&--addBtn {
			border: none;
			padding: 0;
			position: relative;
			top: 5px;

			&:before {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.9rem;
				color: white;
				background-color: #00a65a;
				content: "Add Item";

				border: 1px solid #cbcbcb83;
				border-radius: 5px;
				padding: 0.14em 8px;
				position: absolute;
				right: -5.3em;
				top: -0.03em;
				cursor: pointer;
			}

			button {
				background-color: #00a65a;
				color: white;
				border: 1px solid #cbcbcb83;
				border-radius: 5px;
				outline: none;
				cursor: pointer;
			}
		}
	}

	&_child-list {
		display: none;
		padding: 5px 0px 5px 25px;
	}
}
